<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <% content_for :title do %>
      Portfolio
    <% end %>

    <%= render 'layouts/header' %>

    <br><br><br><br><br><br><br><br><br>

    <%= render 'layouts/work_login' %>

    <div class="row">
      <div class="large-4 columns">
        <h3>Projects</h3>
      </div>
      <div class="large-8 columns">
        <h3>Articles</h3>

        <%= yield %>

      </div>
    </div>

    <%= render 'layouts/contacts' %>
  </body>
</html>
