<!DOCTYPE html>
<html lang="en">
  <% content_for :title do %>
    Ronald Kinch Portfolio
  <% end %>
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/header' %>

    <div class="hero">
      <div class="row">
        <div class="large-12 columns intro-text">
            <p>Ronald Kinch of Seattle</p>
        </div>
      </div>
    </div>

    <%= yield %>

    <%= render 'layouts/work_login' %>
    <div class="row">
      <div class="large-4 columns">
        <h3>Projects</h3>
      </div>
      <div class="large-8 columns">
        <h3>Articles</h3>
        <%= link_to 'Articles', articles_path %><br>
      </div>
    </div>

    <%= render 'layouts/contacts' %>
  </body>
</html>
